@using System.Globalization
@using AspNetCore.LocalizationExample.Routing.Models
@model IEnumerable<LanguageModel>
<ul>
@foreach (var item in Model)
{
	if (item.Active)
	{
	    <li><img src="~/images/@(item.Culture).png" alt="@item.Name" width="25" height="25"/></li>
	}
	else
	{
		<li><a href = "@Url.Action((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"], new { culture = item.Culture})" > <img src="~/images/@(item.Culture).png" alt="@item.Name" width="25" height="25" /></a></li>
	}
}
</ul>
