@using System.Globalization
@using AspNetCore.LocalizationExample.Routing.Models
@model IEnumerable<LanguageModel>
<ul>
@foreach (var item in Model)
{
	if (item.Active)
	{
		<li>@item.Name</li>
	}
	else
	{
		<li><a href = "@Url.Action((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"], new { culture = item.Culture})" > @item.Name</a></li>
	}
}
</ul>
