@{
    ViewData["Title"] = Localizer["Página de inicio"];
}
<h2>@Localizer["Página de inicio"]</h2>
<p>@Localizer["La cultura seleccionada es: {0}.", System.Globalization.CultureInfo.CurrentUICulture.Name]</p>
<p>@Localizer["Hoy es {0}.", DateTime.Now.ToString()]</p>