@using System.Globalization
@using AspNetCore.LocalizationExample.Models
@model IEnumerable<LanguageModel>
@{
	var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<ul>
	@foreach (var item in Model)
	{
		if (item.Active)
		{
			<li><img src="~/images/@(item.Culture).png" alt="@item.Name" width="25" height="25"/></li>
		}
		else
		{
			<li>
				<a asp-action="SetLanguage" asp-controller="Home" asp-route-culture="@item.Culture" asp-route-returnUrl="@returnUrl"><img src="~/images/@(item.Culture).png" alt="@item.Name" width="25" height="25"/></a>
			</li>
		}
	}
</ul>
